.container {
  width: 544px;
  height: 332px;
  background-color: #ecf2ff;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.dateContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

h2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 26px;
  color: #2f2f2f;
}

.month {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #407bff;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

.icon {
  color: #407bff;
  width: 14px;
  height: 14px;
}

.containerWithDays {
  align-items: flex-start;
  align-content: flex-start;
  width: 538px;
  height: 284px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px 22px;
}

.dayItemContainer {
  height: 56px;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 1439px) {
  .container {
    width: 656px;
    height: 340px;
  }
  .containerWithDays {
    width: 646px;
    height: 292px;
    gap: 20px 34px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 264px;
    height: 506px;
  }
  h2 {
    font-weight: 500;
    font-size: 24px;
  }
  .month {
    font-size: 14px;
  }
  .containerWithDays {
    row-gap: 16px;
    column-gap: 26px;
    width: 264px;
    height: 466px;
  }
}
