.popover {
  width: 292;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.containerForDay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  background-color: #fff;
}

.containerForDay:hover {
  box-shadow: 0px 4px 4px #407cff47;
}

.numberOfDay {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #2f2f2f;
  cursor: pointer;
}

.percentOfDay {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: #9ebbff;
}

@media (max-width: 1439px) {
  .percentOfDay {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .containerForDay {
    height: 32px;
    width: 32px;
  }
  .percentOfDay {
    font-size: 10px;
  }
  .popover {
    width: 280;
  }
}
