.backdrop {
  width: 100vh;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.modal {
  padding: 24px 13px 24px 13px;
  width: 280px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 10px;
  /* top: 50%;
  left: 50%; */
  /* right: auto;
  bottom: auto; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
}

.date {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #407bff;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #2f2f2f;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}

span {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #407bff;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
}
