.backdrop {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}

.date {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #407bff;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  line-height: 1.25;
  letter-spacing: normal;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #2f2f2f;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}

span {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #407bff;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
}
