.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 24px 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .container {
    position: relative;
    padding: 40px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    /* padding: 162px 0; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    /* align-items: flex-end; */
  }
}

.form {
  /* position: relative; */
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .form {
    position: absolute;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 16px;
    margin-left: 0;
    /* top: 0;
    left: 0; */
    margin-right: auto;
    width: 336px;
    /* z-index: 100; */
  }
}
@media screen and (min-width: 1440px) {
  .form {
    position: static;
    width: 384px;
    margin-top: 113px;
    margin-right: 198px;
    margin-left: 840px;
  }
}

.title {
  /* margin-bottom: 16px; */
  text-align: left;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.23;
  color: #2f2f2f;
}

.label {
  color: black;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  /* margin-top: 16px; */
}

.error {
  color: #ef5050;
  border-color: #ef5050;
  font-size: 12px;
}

.icon {
  /* margin-left: -15px; */
  width: 24px;
  height: 24px;
  stroke: #407bff;
  /* transform: translateY(-130%); */
  top: calc(15% + 34px);
  position: absolute;
  border: none;
  cursor: pointer;
  right: 4%;
}

.form_input {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
  padding: 12px 10px;
  border: 1px solid #d7e3ff;
  outline: none;
  margin-top: 8px;
  align-items: flex-start;
  gap: 10px;
}

.form_input:focus,
.form_input:hover,
.form_input:active {
  background-color: transparent;
  color: #407bff;
}

.form_input::placeholder {
  color: #d7e3ff;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.23;
}

.btn {
  /* margin-bottom: 16px; */
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #407bff;
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  color: var(--primary-white-color, rgb(255, 255, 255));
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  width: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.btn:focus:active {
  box-shadow: none;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #9ebbff;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
    line-height: 1.33;
  }
}

.link {
  color: var(--primary-blue-color, rgb(64, 123, 255));
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--orange-accent-color, rgb(255, 157, 67));
}

.bottle {
  background-image: url('../../images/home/bottle-mob-1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 210px;
  background-position: center;
  margin-top: 65px;
  left: 50%;
  /* transform: translate(-50%); */
  top: 450px;
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bottle {
    background-image: url('../../images/home/bottle-mob-2x.png');
  }
}

@media screen and (min-width: 768px) {
  .bottle {
    background-image: url('../../images/home/bottle-tab-1x.png');
    width: 736px;
    height: 548px;
    background-position: 80px;
    /* transform: translateY(-440px); */
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bottle {
      background-image: url('../../images/home/bottle-tab-2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .bottle {
    background-image: url('../../images/home/bottle-desk-1x.png');
    width: 916px;
    min-height: 680px;
    margin-top: 0;
    background-position: -65px center;
    /* background-size: 880px, cover; */
    transform: translateY(-440px);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bottle {
      background-image: url('../../images/home/bottle-desk-2x.png');
    }
  }
}
