.googleLoginButton {
    background-color: var(--primary-color-white);
    border: 1px solid var(--google-stroke);
    border-radius: 40px;
    box-sizing: border-box;
    color: var(--google-font-color);
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 10px 12px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 48px;
}

.buttonIcon {
    padding: 0;
    height: 20px;
    width: 20px;
}

.iconGoogle {
    height: 20px;
    width: 20px;

}

.buttonContents {
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: center;
}

.googleLoginButton .buttonContentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px
}

.googleLoginButton:disabled .buttonContents {
    opacity: 38%;
}

.googleLoginButton:disabled .buttonIcon {
    opacity: 38%;
}


@media screen and (min-width: 768px) {

    .googleLoginButton {
        width: 200px;
        margin-top: 68px;
    }

    .googleLoginButton .buttonContentWrapper {
        gap: 8px
    }

    .buttonContents {
        font-size: 16px;
    }


}