.popup {
  position: absolute;
  box-sizing: border-box;
  width: 292px;
  height: 188px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 4px #407cff47;
  z-index: 1000;
  padding: 24px 16px;
  transform: translateY(-65%);
}

.firstColumn {
  right: 1065px;
}
.secondColumn {
  right: 1010px;
}
.thirdColumn {
  right: 958px;
}
.fourthColumn {
  right: 900px;
}
.fifthColumn {
  left: 110px;
}
.sixthColumn {
  left: 165px;
}
.seventhColumn {
  left: 220px;
}
.eighthColumn {
  left: 275px;
}
.ninthColumn {
  left: 330px;
}
.tenthColumn {
  left: 390px;
}

@media (max-width: 767px) {
  .popup {
    width: 280px;
    padding: 24px 13px;
  }
  .mobileFirstColumn,
  .mobileSecondColumn,
  .mobileThirdColumn,
  .mobileFourthColumn,
  .mobileFifthColumn {
    right: 10px;
    left: 10px;
  }
}
