.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px;
    font-weight: 1000;
}
.swiper-button-next:after {
    position: relative;
    left: 18px;
}
.swiper-button-prev:after {
    position: relative;
    right: 18px;
}