.homeSection {
  margin: 0 auto;
  padding: 40px 20px;
  width: 320px;
  height: 1436px;
  background-image: url('../../../public/images/Background\ element\ Home\ screen_Mobile.png');
  background-position: center 85px;
  background-size: contain;
}

.dailyContainer {
  margin-bottom: 20px;
}

.BottleImgContainer {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .homeSection {
    width: 768px;
    height: 1280px;
    padding: 40px 32px;
    background-image: url('../../../public/images/Background\ element\ Home\ Screen.png');
    background-position: center;
  }

  .dailyContainer {
    position: absolute;
  }

  .BottleImgContainer {
    width: 518px;
    height: 386px;
  }
}

@media screen and (min-width: 1440px) {
  .homeSection {
    width: 1440px;
    height: 800px;
    padding: 40px 112px;
    background-image: url('../../../public/images/Background\ element\ Main\ Page.png');
  }
}
